button {
  border: 1px solid #000;
  font-size: 2rem;
  background: #111;
  color: #eee;
}

button:hover,
button.operator:hover {
  background-color: #888;
  color: #111;
}

button.operator {
  background-color: #4a006d;
}

button.span-two {
  grid-column: span 2;
}
