.Display {
  grid-column: 1/-1;
  background-color: #222;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.Display > .previous-operand {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}

.Display > .current-operand {
  font-size: 2.5rem;
  color: #fff;
}
