.App {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: minmax(10rem, auto) repeat(5, 8rem);
}
